
.projects{
  height: auto;
  background-color: var(--color-bg);
  transform: translateY(-40px);
  overflow: hidden;

 
}
/* .projects h5{
transform: translateY(-50px);
}

.projects h2{
  transform: translateY(-50px);
  } */
.project_container{
  display:flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  text-align: center;
  height: auto;
  
}
.project_container_info{
  width:29rem;
  height:35rem;
  margin-top: 5rem;
  border:1px solid var(--color-bg);
  border-radius:2rem;
  transition:var(--transition);
  background-color: var(--color-bg-variant);
  
}

.project_container_info:hover{
  border-color: var(--color-primary);
  background: transparent;

}
.project_title{
  margin-top: 2rem;
  
}
.project_title > h2{
  color:var(--color-primary)
}
img{
  height:50%;
  border-radius: 1.5rem;
  overflow: hidden;
  width: 200px;
  margin: 0 auto;
  margin-top: 1rem;
  object-fit: cover;
  object-position: center;
}
.btns{
  display:flex;
  justify-content: space-around;
}
p{
  font-size: 1.4rem;
  margin-top: 0.5rem;
  letter-spacing: 1px;

}
h4{
  font-size: 1.3rem;
  margin-top: 2rem;
}
@media screen and (min-width:1242px){
  .projects{
   height:100vh;
  }
  }
  @media screen and (min-width:1250px){
    .project_container_info{
     transform:translateY(8rem);
    }
    }
  
    