.card{
  width:20rem;
  height:15rem;
  padding-top: 2rem;
  border:1px solid var(--color-variant);
  border-radius:2rem;
  transition:var(--transition);
  background-color: var(--color-bg);
}

.card >h2{
  text-align: center;
  color:var(--color-primary);
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.card >p{
  text-align: center;
  color:var(--color-white);
  font-size: 1.5rem;
}
p:hover{
  color:var(--color-light)
}



