
.hamburger{
  position: absolute;
  right: 0;
  cursor: pointer;
  border-radius: 90px;
  border: 2px solid rgb(128, 10, 238);
  margin: auto -20px;
  padding: 5px;
}
.hamburger button{
  background: transparent;
  outline: none;
  color: white;
  border: none;
  cursor: pointer;
}
.sidebar{
  padding-top: 20px;
  border:1px solid red;
  display: flex;
  flex-direction: column;
  gap:40px;
  background-color: black;
  position: absolute;
  color: white;
}


  .sidebar_close{
    width:85px
  }
/* .hamburger_open:hover span :nth-child(1){
width:25px;
transform: translate(-3px, 8px) rotate(30deg);
}
.hamburger_open:hover span :nth-child(2){
  display: none;
  }
.hamburger_open:hover span :nth-child(3){
  width:25px;
  transform: translate(-3px, -8px) rotate(-30deg);
  }
  .hamburger_close:hover span :nth-child(1){
    width:25px;
    transform: translate(0, 8px) rotate(-30deg);
    }
    .hamburger_close:hover span :nth-child(2){
      display: none;
      }
    .hamburger_close:hover span :nth-child(3){
      width:25px;
      transform: translate(0px, -8px) rotate(30deg);
      } */